.Forma {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;

}

.CheckBox {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.Forma {
    width: 50%;
}

.Forma button {
    color: white;
    background-color: #2c313f;
    border: 1px solid #3e69dc;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.Forma button:hover{
    background-color: white;
    color: gray;
    transition-duration: 0.5s;
}

h1 {
    color: #2c313f;
    font-family: Arial, Helvetica, sans-serif;

}

.Forma textarea {
    width: 100%;
    font-size: 15px;
}

.Forma input {
    border: 1px solid lightgray;
    height: 30px;
    vertical-align: center;
    padding-left: 4px;
    margin-bottom: 10px;
}

.Forma label {
    margin-bottom: 10px;
}

.Image {
    margin-top: 15px;
}

.text {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;

}

@media (max-width: 450px) {
    .Forma {
        width: 90%;
    }
}